body {
  font-family: Poppins, sans-serif;
  margin: 0px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.highlight {
  color: rgb(249, 135, 126);
}

p {
  color: dimgray;
}

.half_width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  margin-right: 40px;
}

.half_width img {
  width: 80%;
}

.topbaner {
  background-image: url("images/background7.jpg");
  background-repeat: no-repeat;
  background-size: 90px;
}

section {
  height: 500px;
  padding-bottom: 130px;
}

.linkBtn {
  background-image: linear-gradient(rgb(249, 135, 126), lightsalmon);
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.dream-area {
  background-image: url("images/background1.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 75px;
  margin-bottom: -75px;
}

.singleExperince {
  box-shadow: gray 10px 10px 40px;
  border-radius: 9px;
  background-color: white;
}

.experienceArea {
  background-image: url("images/background2.jpg");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: left center;
  margin-bottom: -56px;
}

.exH2 {
  text-align: center;
  margin-bottom: 76px;
}

#fullStack {
  border-left: 7px solid;
  border-image: linear-gradient(lightsalmon, rgb(249, 135, 125)) 1 / 1 / 0 stretch;
  margin-right: 33px;
}

footer p {
  text-align: center;
  color: dimgray;
}
